:root{
    --fuente: 'Simpsonfont DEMO';
    --amarillo: #f8db27;
    --fuenteSecundaria: 'Courier New', Courier, monospace;
    --dorado: 	#9c5b01;
}

@font-face {
    font-family: "Simpsonfont DEMO";
    src:
      local("Simpsonfont DEMO"),
      url("./Simpsonfont\ DEMO.otf") format("otf"),
      url("./Simpsonfont\ DEMO.ttf") format("ttf"),
      url("./Simpsonfont\ DEMO.woff") format("woff"),
  }
  

body{
    margin: 0;
    cursor: url(./frasconuclear\ -\ copia.png),auto;
    position: relative;

}




header{
    background-image: url(./fondonubes.jpg);
    background-size:cover;
    background-position:top;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -5;
    position: relative;

}

h2{
    margin: 0;
    text-align: center;
    font-family: var(--fuente);
    font-size: 3rem;
    color: var(--amarillo);
    -webkit-text-stroke: 1px black;
  
}




.seccionPrincipal{
    display: grid;
    grid: 3fr 1fr/ 2fr 4fr 4fr;
    
}




.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid var(--dorado);
    overflow: hidden;
    background-image: linear-gradient(rgba(29, 146, 226, 1), rgba(29, 146, 226, 0.2));
    grid-row: 1/3;
    grid-column: 1/2;
}

.saxo {
    position: absolute;
    top: -5rem;
    width: 50px;
    height: 50px;
    background: url('./saxofon.png') no-repeat center center;
    background-size: contain;
    animation: saxoFall 3s linear infinite;
    
}

.saxo:nth-child(2) {
    left: 2%;
    animation-delay: 1.5s;
}

.saxo:nth-child(3) {
    left: 6%;
    animation-delay: 0.5s;
}

.saxo:nth-child(4) {
    left: 10%;
    animation-delay: 2s;
}

.saxo:nth-child(5) {
    left: 14%;
    animation-delay: 1s;
}



@keyframes saxoFall {
    to {
        transform: translateY(135vh);
    }
}


.informacion img{
    border-radius: 20rem;
    border: 1px solid var(--dorado);
    margin-top: 1rem;
    z-index: 2;
}

.informacion dl{
    z-index: 2;
}

dt{
    font-family: var(--fuente);
    color: var(--dorado);
}

dd{
    font-family: var(--fuenteSecundaria);
    font-weight: bold;
}

.formacion{
    border-right: 1px solid var(--dorado);
    border-top: 1px solid var(--dorado);
    border-bottom: 1px solid var(--dorado);
    margin:0;
    font-family: var(--fuenteSecundaria);
    padding-right: 1rem;
    grid-column: 2/3;
    grid-row: 1/2;
}

.formacion ul{
    list-style-type: none;
    padding-left: 2rem;
}

.formacion li{
    display: flex;
    align-items:start; 
}

.formacion li img{
    width: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
}

.formacion h3, .experiencia h3{
    font-family: var(--fuente);
    color: var(--dorado);
    text-align: center;
}


li{
    margin-bottom: 1rem;
}

.formacion span, .experiencia span{
    font-weight: bold;
}

.formacion span .noNegrita{
    font-weight: lighter;
}


.experiencia{
    border-right: 1px solid var(--dorado);
    border-top: 1px solid var(--dorado);
    border-bottom: 1px solid var(--dorado);
    grid-column: 3/4;
    grid-row: 1/2;
}


.experiencia ol {
    list-style-type: none;
    counter-reset: my-counter 3; /* Reinicia el contador */
    padding-left: 1.7rem;
  }

.experiencia li::before {
    content: counter(my-counter) "."; /* Usa el valor del contador como contenido */
    counter-increment: my-counter -1; /* Incrementa el contador en cada ítem */
    font-weight: bold; /* Hace que los números sean negrita */
    margin-right: 0.5em; /* Espacio entre el número y el texto del ítem */
  }

.otrosDatos{
    grid-column: 2/4;
    grid-row: 2/3;
    display: grid;
    grid: 0fr / 1fr 1fr 1fr;
    border-right: 1px solid var(--dorado);
    border-bottom: 1px solid var(--dorado);
    z-index: 0;
}

.otrosDatos h4{
    text-align: center;
    font-family: var(--fuente);
    color: var(--dorado);
}

.imgParrafo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.imgParrafo img{
    margin-right: 0.5rem;
}

.imgParrafo p, .imgParrafo a{
    font-family: var(--fuenteSecundaria);
    color: black;
}

.imgParrafo a{
    z-index: 10;
}

.iluminacion{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    z-index: 7;
}

